/*изменение стандартных ситилей*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: #212121;
}
address {
  font-style: normal;
}
/*Основные стили*/
.body-studio,
.body-portfolio {
  font-family: 'Roboto';
  font-style: normal;
}
/*Стили для шапки сайта*/
.header-site {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  /* or 114% */
  letter-spacing: 0.02em;
}

.header-links-pages {
  color: #212121;
}
.header-links-pages p::first-letter {
  text-transform: capitalize;
}

.header-links-contacts {
  color: #757575;
}

.header-site a:hover,
.header-site a:focus,
.header-site a:active {
  color: #2196f3;
}

/*Стили для заглавной секции*/
.hero {
  background-color: #2f303a;
  color: #ffffff;
}
.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero a {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  /* or 188% */
}

/*Слили для секции особенности*/
.features {
  background-color: #ffffff;
}

.features h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  /* or 114% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.features p::first-letter {
  text-transform: capitalize;
}
/* стили для секции виды работ*/
.work-profile {
  background-color: #ffffff;
}

.work-profile h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  /* or 117% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.work-profile h2::first-letter {
  text-transform: capitalize;
}
/* стили для секции наша команда*/
.our-team {
  background-color: #f5f4fa;
}

.our-team h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  /* or 117% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team h2::first-letter {
  text-transform: capitalize;
}

.our-team li {
  background-color: #ffffff;
  width: 270px;
  height: 378px;
}

.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: capitalize;
}
.our-team h4 {
  color: #757575;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
.our-team span {
  text-transform: uppercase;
}
/*стили для секции подвал*/
.footer-site {
  background-color: #2f303a;
  font-weight: normal;
}

.footer-site p {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-site span {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(100%, 100%, 100%, 60%);
}

/*CSS Портфолио*/
.main-portfolio {
  background-color: #ffffff;
}

.portfolio-filters p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-filters p::first-letter {
  text-transform: capitalize;
}

.filter {
  background: #f5f4fa;
  border-radius: 4px;
  width: 168px;
  height: 38px;
}
.item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
  height: 404px;
}
